<h1>La Commande</h1>
<form>
<div class="form-group">
  <label for="one">Enter Name :</label>
  <input [(ngModel)] ="myCommande.name" type="text"
    class="form-control" name="name" id="one" aria-describedby="helpId" placeholder="Enter Name">
</div>
<div class="form-group">
    <label for="two">Enter poids :</label>
    <input [(ngModel)] ="myCommande.poids" type="text"
      class="form-control" name="poids" id="two" aria-describedby="helpId" placeholder="Enter poids">
  </div>
  <div class="form-group">
    <label for="three">Enter prix :</label>
    <input [(ngModel)] ="myCommande.prix" type="text"
      class="form-control" name="prix" id="three" aria-describedby="helpId" placeholder="Enter prix">
  </div>
  <button *ngIf = "!myCondition" (click)="postCommandes()" type="button" class="btn btn-primary btn-block">Add</button>
  <button *ngIf = "myCondition" (click)="updateMyCommande()" type="button" class="btn btn-warning btn-block">Update</button>

</form>
<table class="table table-success">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>poids</th>
            <th>prix</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let myVariable of myArray">
            <td>{{myVariable.id}}</td>
            <td>{{myVariable.name}}</td>
            <td>{{myVariable.poids}}</td>
            <td>{{myVariable.prix}}</td>
            <td>
                <button (click)="deleteCommande(myVariable.id)" type="button" class="btn btn-danger">delete</button>
                <button (click)="editCommande(myVariable)" type="button" class="btn btn-warning ok">Update</button>
            </td>
        </tr>
    </tbody>
</table>